.form {
    border-radius: 5px;
    background: lightsteelblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: #4a90e2;
}

.title {
    text-align: center;
}

.input {
    padding: 5px 10px;
    border-radius: 5px;

    background: lightcyan;
    color: #4a90e2;

    border: none;
    outline: none;
}

.button {
    cursor: pointer;
    padding: 5px 10px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
}
