.mainPage {
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.link:link,
.link:visited {
    color: black;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid cornflowerblue;
    padding: 5px 10px;
    background: lightgreen;
    margin-bottom: 30px;
}
